In [8]:
import pandas as pd
import pickle

In [17]:
df.head()

,index,totPurchaseAmt,street1,zip,property,ZillowURL,zpid,streetAddress,zipcode,city,...,taxAssessedValue,streetAddressOnly,unit,averageSchoolRating,description,price,priceForHDP,hoaFee,contactPhone,status
0,0,152000.0,538 78th Avenue NE,55432.0,538 78th Avenue NE 55432,https://www.zillow.com/homedetails/538-78th-Av...,1475959,538 78th Ave NE,55432,Spring Lake Park,...,-1,538 78th Ave NE,,4,"Just move in! End unit, deck, double garage, w...",152000,152000,230,,Completed
1,1,198000.0,14649 Iodine Ct NW,55303.0,14649 Iodine Ct NW 55303,https://www.zillow.com/homedetails/14649-Iodin...,1539563,14649 Iodine Ct NW,55303,Ramsey,...,-1,14649 Iodine Ct NW,,5.33333,"14649 Iodine Ct NW, Ramsey, MN is a single fam...",198000,198000,,,Completed
2,2,155000.0,5445 E Brenner Pass,55432.0,5445 E Brenner Pass 55432,https://www.zillow.com/homedetails/5445-E-Bren...,,,,,...,,,,,,,,,,Error
3,3,130000.0,10921 Dogwood Street,55448.0,10921 Dogwood Street 55448,https://www.zillow.com/homedetails/10921-Dogwo...,1503295,10921 Dogwood St NW,55448,Coon Rapids,...,-1,10921 Dogwood St NW,,5.66667,"10921 Dogwood St NW, Coon Rapids, MN is a sing...",130000,130000,,,Completed
4,4,415000.0,16931 Helium Street NW,55303.0,16931 Helium Street NW 55303,https://www.zillow.com/homedetails/16931-Heliu...,1500884,16931 Helium St NW,55303,Ramsey,...,-1,16931 Helium St NW,,6.33333,Stunning walk to Rum River and Creek running t...,415000,415000,,,Completed

In [12]:
file_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
df = pd.DataFrame()

for x in file_numbers:
    df1 = pickle.load(open(f'datafiles/metroArea{x}.ft', 'rb'))
    df = pd.concat([df, df1], ignore_index=True)
    print(len(df))

4645
9314
13970
18642
19698
20703
21707
22697
23691
24689
25688
26873
28156
29152
30485
31482
34561
37587
40663
45332
49998
54638

In [14]:
pickle.dump(df, open("combinedData.ft", "wb"))